@font-face{

  font-family: 'Trebuchet MS';

  src: url('fonts/Trebuchet MS.ttf');

  font-weight: normal;

  font-style: normal;

}

.app {
  background-image: url("pictures/prototype.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}